@import "variables";
@import "form";

.sssp-clear {
  clear: both;
}

.sssp-block {
  font-family: @SSP-font-family;
  color: @seznam-font-color;
}

.sssp-admin-red {
  color: @seznam-color-red;
  width: auto;
  min-width: initial !important;
}

.sssp-admin-green {
  color: #067a06;
  width: auto;
  min-width: initial !important;
}

.sssp-admin-bold {
  font-weight: bold;
}

.sssp-post-table {
  max-width: 100%;
  padding-top: 10px;

  @media (max-width: @responsive_l_tablet_max) {
    padding-top: 10px;
  }

  @media (max-width: @responsive_p_phone_max) {
    padding-top: 10px;
  }

  .sssp-settings-box {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    -webkit-box-shadow: 0 0 3px rgb(0 0 0 / 30%);
    box-shadow: 0 0 3px rgb(0 0 0 / 30%);
    border-left: @seznam-color-red @border_settings_2;
    padding: 40px;
    margin-bottom: 20px;
    background-color: @seznam-background-color;

    @media (max-width: @responsive_l_tablet_max) {
      padding: 25px;
    }
    @media (max-width: @responsive_p_phone_max) {
      padding: 20px 15px;
      margin-bottom: 10px;
    }
    @media (max-width: @responsive_p_phone_min) {
      padding: 15px 10px;
    }

    #tabs{
      max-width: 600px;
      width: 100%;
      box-shadow: 0 0 1.2rem 0 rgb(0 0 0 / 13%);

      .ui-tabs-nav {
        margin: 0;
        padding: 0;
        box-shadow: 0 0 1.2rem 0 rgb(0 0 0 / 13%);
      }

    }

    .ui-widget.ui-widget-content {
      border: none !important;
      padding: 0;
    }

    .ui-widget.ui-widget-content {
      border: 1px solid #C0C0C0;
    }

    .ui-tabs .ui-tabs-nav li {
      border:none;
      text-align: center;
      display: inline-block;
      width: 33.3333%;
      box-sizing: border-box;
      background-color: white;
      padding: 0;
      line-height: 24px;
      margin: 0;

      @media (max-width: @responsive_p_phone_middle) {
        max-width: initial;
        width: 100%;
      }

      a {
        border-top: .2rem solid white;
        display: block;
        float: none;
        margin: 0;
        padding: 20px 22px;

        &:focus {
          box-shadow: none;
          border: none;
        }
      }
    }

    .ui-widget-header {
      border: none;
      background: none;

      .ui-corner-top {
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
      }

      .ui-state-default {
        background: none;
      }

      .ui-state-active {
        background-color: #F9F9F9 !important;

        a {
          border-top: .2rem solid #272727 !important;
          &:focus {
            box-shadow: none;
            border: none;
          }
        }

        &:focus {
          box-shadow: none;
          border: none;
        }

      }
    }


  }

  &-left {
    width: calc(100% - 450px);
    box-sizing: border-box;
    float: left;
    padding: 0 20px 0 0;

    @media (max-width: @responsive_admin_max) {
      width: 100%;
      max-width: 100%;
      padding: 0;
    }
  }

  &-right {
    width: 450px;
    box-sizing: border-box;
    float: right;

    @media (max-width: @responsive_admin_max) {
      width: 100%;
      max-width: 100%;
      padding: 0;
    }

    @media (max-width: @responsive_p_phone_max) {
      padding: 0;
    }
    @media (max-width: @responsive_p_phone_min) {
      padding: 0;
    }
  }

  &-sidebar {
    width: 100%;
    box-sizing: border-box;
    -webkit-box-shadow: 0 0 3px rgb(0 0 0 / 30%);
    box-shadow: 0 0 3px rgb(0 0 0 / 30%);
    border-left: @seznam-color-red @border_settings_2;
    padding: 15px;
    background-color: @seznam-background-color;
  }

  h2 {
    font-size: 20px !important;
    padding: 0 !important;
    margin: 0 0 10px 0 !important;
    color: @seznam-font-color;
    font-weight: 400;
  }

  h3, h4 {
    margin: 0 0 5px 0;
    font-size: 1.2em;
    line-height: 1.4em;
    border-bottom: 1px solid @seznam-font-color;
    font-weight: 400;
    font-family: Helvetica, Arial, serif;
    color: @seznam-font-color;
  }

  .sssp-section-subtitle{
    h3, h4 {
      margin: 20px 0 5px 0;
      font-size: 1.3em;
      line-height: 1.4em;
      font-weight: bold;
      font-family: Helvetica, Arial, serif;
      color: @seznam-font-color;
      border-bottom: none;
    }
  }

}

.sssp-width-75 {
  width: 75%;
  display: inline-block;
  padding-right: @form-section-padding;
  box-sizing: border-box;

  @media (max-width: @responsive_admin_min) {
    width: 100%;
  }
}

.sssp-width-66 {
  width: 66.6666%;
  display: inline-block;
  padding-right: @form-section-padding;
  box-sizing: border-box;

  @media (max-width: @responsive_admin_min) {
    width: 100%;
  }

}

.sssp-width-50 {
  width: 50%;
  display: inline-block;
  padding-right: @form-section-padding;
  box-sizing: border-box;
  vertical-align: top;

  @media (max-width: @responsive_admin_min) {
    width: 100%;
  }

  &.sssp-desktop {
    @media (max-width: @responsive_admin_min) {
      display: none;
    }
  }

  &.sssp-mobile {
    display: none;
    @media (max-width: @responsive_admin_min) {
      display: block;
    }
  }

}

.sssp-width-33 {
  width: 33.3333%;
  display: inline-block;
  padding-right: @form-section-padding;
  box-sizing: border-box;

  @media (max-width: @responsive_admin_min) {
    width: 100%;
  }

}

.sssp-width-25 {
  width: 25%;
  display: inline-block;
  padding-right: @form-section-padding;
  box-sizing: border-box;

  @media (max-width: @responsive_admin_min) {
    width: 100%;
  }

}

.sssp-width-16 {
  width: 16.6666%;
  display: inline-block;
  padding-right: @form-section-padding;
  box-sizing: border-box;

  @media (max-width: @responsive_admin_min) {
    width: 100%;
  }

}

.sssp-help {
  margin-bottom: 15px;
}

.sssp-big {
  font-size: 1.1em;
}

.sssp-small {
  font-size: 0.9em;
}

.sssp-data-holder {
  display: none;
  height: 0;
}

#sssp-filter_by_zone_id {
  min-width: 190px;
  max-width: 200px;
}

.sssp-seznam-red {
  color: @seznam-color-red;
}

.sssp-seznam-blue {
  color: #176ad0;
}

#sssp-preview-box {
  .sssp-image-preview-box {
    width: 100%;

    &-image {
      width: 300px;
      padding: 20px 0;
      box-sizing: border-box;
      display: inline-block;
      text-align: center;
      vertical-align: top;

      @media (max-width: @responsive_admin_max) {
        width: 150px;
      }

      @media (max-width: @responsive_admin_min) {
        width: 100%;
      }

      @media (max-width: @responsive_p_tablet_min) {
        padding: 10px;
      }

      img {
        width: 100%;
        max-width: 300px;
      }

    }

    &-text {
      width: calc(100% - 300px);
      padding: 20px;
      box-sizing: border-box;
      display: inline-block;
      text-align: left;

      @media (max-width: @responsive_admin_max) {
        width: calc(100% - 150px);
      }

      @media (max-width: @responsive_admin_min) {
        width: 100%;
      }

      @media (max-width: @responsive_p_tablet_min) {
        padding: 10px;
      }

      p {
        margin: 0 0 10px 0;
      }

      img {
        width: 100%;
      }
    }
  }
}

.sssp-sticky {
  position: fixed;
  top: 50px;
}

.post-type-seznam-ssp {
  #publish {
    background-color: @seznam-color-red;
    border: 1px solid @seznam-color-red;
    box-shadow: 0 8px 24px -8px rgba(204, 0, 0, 0.4);
    border-radius: 4px;
    color: white;
    padding: 11px 8px 13px 8px;
    text-align: center;
    line-height: 20px;
    font-size: 14px;
    width: 130px;

    &:hover {
      background-color: @seznam-color-red_dark;
      border: 1px solid @seznam-color-red_dark;
      box-shadow: 0 12px 24px -6px rgba(204, 0, 0, 0.6);
    }

    &:focus {
      box-shadow: 0 1px 4px rgba(204, 0, 0, 0.4);
    }
  }

  #misc-publishing-actions {
    //display: none;
  }
}

#sssp-allowed-post-types {
  display: none;
}

.sssp-bullet-box {
  position: relative;
  padding-left: 12px;
  display: inline-block;
}

.sssp-bullet::before,
.sssp-bullet-blue::before,
.sssp-bullet-black::before,
.sssp-bullet-red::before {
  content: '';
  position: absolute;
  bottom: 5px;
  left: 0;
  width: 7px;
  height: 7px;
  background-color: #30bd00;
  border-radius: 50%;
}

.sssp-bullet-blue::before {
  background-color: #002aff;
}

.sssp-bullet-black::before {
  background-color: #2a2a2a;
}

.sssp-bullet-red::before {
  background-color: @seznam-color-red;
}

.sssp-deprecated-shortcode {
  text-decoration: line-through;
  color: @seznam-color-gray;
}

.sssp-deprecated-shortcode {
  text-decoration: line-through;
  color: @seznam-color-gray;
}

.sssp-system-check-row {
  span {
    display: inline-block;
    min-width: 250px;
    max-height: 100%;
  }
}

.sssp-wp-body-example {
  width: 100%;
}

.sssp-textarea-preview {
  width: 100%;
  min-height: 110px !important;
  @media (max-width: @responsive_admin_max) {
    min-height: 160px;
  }
}
.sssp-textarea-show-sdop-box{
  min-height: 110px !important;
  @media (max-width: @responsive_admin_max) {
    min-height: 160px;
  }
}
#manual-box-1{
  display: none;
}
.sssp-prev-image-box{
  text-align: center;
  padding: 0;
}
.sssp-widget-description-box{
  margin-bottom: 0;
}