@import "variables";


.sssp-form {
  color: @seznam-font-color;

  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: @seznam-font-color;
  }

  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: @seznam-font-color;
  }

  &::-ms-input-placeholder { /* Microsoft Edge */
    color: @seznam-font-color;
  }

  label {
    width: 100%;
    font-size: 14px;
    line-height: 22px;
    color: #000000;
    display: block;
  }
  input{
    margin: 0;
  }

  input[type=text],
  input[type=number] {
    background: #FFFFFF;
    border: 1px solid #C0C0C0;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 9px 12px;
    font-size: 14px;
    line-height: 22px;
    width: 100%;

    &:hover {
      border: 1px solid #A0A0A0;
    }

    &:focus {
      border: 1px solid #80C0FF !important;
    }

    &:disabled {
      color: #a7aaad;
      border-color: #dcdcde;
      background-color: #f6f7f7;
      box-shadow: none;
      text-shadow: 0 1px 0 #fff;
      cursor: default;
      transform: none;

      &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: #a7aaad;
        opacity: 0.8; /* Firefox */
      }

      &:-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: #a7aaad;
        opacity: 0.8;
      }

      &::-ms-input-placeholder { /* Microsoft Edge */
        color: #a7aaad;
        opacity: 0.8;
      }
    }
  }

  input[type=checkbox] {
    transform: scale(1.3);
    background: #FFFFFF;
    border: 1px solid #C0C0C0;
    border-radius: 6px;
    display: inline-block;
    margin: 0 0 5px 12px;
  }

  input[type=submit],
  button{
    background-color: @seznam-color-red;
    border: 1px solid @seznam-color-red;
    box-shadow: 0px 8px 24px -8px rgba(204, 0, 0, 0.4);
    border-radius: 4px;
    color: white;
    padding: 11px 8px 13px 8px;
    text-align: center;
    line-height: 24px;
    font-size: 16px;
    width: 200px;

    &:hover{
      background-color: @seznam-color-red_dark;
      border: 1px solid @seznam-color-red_dark;
      box-shadow: 0px 12px 24px -6px rgba(204, 0, 0, 0.6);
    }
    &:focus{
      box-shadow: 0px 1px 4px rgba(204, 0, 0, 0.4);
    }
  }

  textarea {
    width: 100%;
    min-height: 300px;
  }

  fieldset {
    font-family: Arial;
    font-size: 14px;
    line-height: 22px;

    input[type='radio'] {
      transform: scale(1.2);
      margin-right: 12px;

      @media (max-width: @responsive_l_tablet_max) {
        transform: scale(1.4);
        height: 1rem;
        width: 1rem;
      }

      &:checked::before {
        content: "";
        border-radius: 50%;
        width: .5rem;
        height: .5rem;
        margin: .1875rem;
        background-color: #000000;
        line-height: 1.14285714;
      }

      &:focus {
        border: 1px solid #80C0FF;
        border-radius: 12px;
      }
    }


  }

  select {
    border: 1px solid #C0C0C0;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 9px 12px;
    font-size: 14px;
    line-height: 22px;
    width: 100%;
    margin: 0;
    max-width: 100%;

    &:disabled {
      color: #a7aaad;
      border-color: #dcdcde;
      background-color: #f6f7f7;
      box-shadow: none;
      text-shadow: 0 1px 0 #fff;
      cursor: default;
      transform: none;
    }

    option {
      font-size: 14px;
      line-height: 20px;
    }

    &:hover {
      border: 1px solid #A0A0A0;
    }

    &:focus {
      border: 1px solid #80C0FF;
    }
  }

  &-error {
    color: #CC0000;
    font-family: Arial;
    font-size: 14px;
    line-height: 22px;
    visibility: hidden;
    margin-top: 4px;
    margin-bottom: 16px;
    @media (max-width: @responsive_admin_min) {
      margin-bottom: 6px;
    }
  }

  &-checkbox-box {
    display: table-row;
    height: 30px;
    vertical-align: top;

    span {
      display: inline-block;
      margin-left: 14px;
      color: @seznam-font-color;
    }
  }

  &-button-box {
    width: 100%;
    text-align: right;
    height: auto;
    margin-bottom: -35px;

    @media (max-width: @responsive_p_phone_max) {
      text-align: center;
    }

  }

  &-button-box-2 {
    width: 100%;
    text-align: center;
    height: auto;
    margin-bottom: -35px;
  }

  #sssp-branding-css{
    min-height: 400px;
    @media (max-width: @responsive_p_phone_max) {
      min-height: 600px;
    }
  }

  .CodeMirror {
    min-height: 400px;
    @media (max-width: @responsive_p_phone_max) {
      min-height: 600px;
    }
  }

}