@import "variables";

.sssp-clear {
  clear: both;
}

.sssp-seznam-ad{
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  clear: both;

  &-center{
    text-align: center !important;
    float: none;
    div.adFull{
      display: block;
      margin: auto;
    }
    .sssp-dev-mode{
      margin: 10px auto 0;
    }
  }
  &-left{
    div.adFull{
      float: left !important;
      display: block;
    }
  }
  &-right{
    div.adFull{
      float: right !important;
      display: block;
    }
  }
  &-none{
    display: block;
    div.adFull{
      display: block;
    }
  }
}

.sssp-deprecated-ads{
  width: 100%;
  max-width: 300px;
  padding: 40px;
  text-align: center;
  background-color: @seznam-color-red;
  margin: 10px auto;
  color: white;
  h5{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 0 6px 0;
  }
}

.sssp-dev-mode{
  width: 100%;
  max-width: 970px;
  text-align: center;
  padding: 5px 5px;
  background-color:@seznam-color-red;
  color: white;
  box-sizing: border-box;
  display: block;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.1em;
  margin: 10px auto 0;

  #sssp-reload-ads{
    cursor: pointer;
    font-weight: bold;
  }
  #sssp-edit-ads{
    a{
      color: white;
      font-weight: bold;
    }
  }
}

.sssp-sticky {
  position: fixed;
  top: 50px;
}