/* Default variables */
@seznam-color-red: #CC0000;
@seznam-color-red_dark: #A00000;
@seznam-color-gray: #A0A0A0;
@seznam-font-color: #404040;
@seznam-font-color-gray: #A0A0A0;
@seznam-background-color: #FBFBFB;

/* Borders */
@border_box_color: #A0A0A0;
@border_settings: 1px solid;
@border_settings_2: 3px solid;
@border_radius: 1px;

@responsive_admin_min: 1460px;
@responsive_admin_max: 1700px;

/* responsive desktop-mobile for ads*/
@responsive_mobil: 700px;

/* responsive landscape tablet */
@responsive_l_tablet_max: 1140px;
@responsive_l_tablet_min: 1019px;

/* responsive portrait tablet */
@responsive_p_tablet_max: 1018px;
@responsive_p_tablet_min: 768px;

/* responsive portrait phone */
@responsive_p_phone_max: 767px;
@responsive_p_phone_middle: 600px;
@responsive_p_phone_min: 400px;

//Font
@SSP-font-family: arial, helvetica, sans-serif;

//Form section padding
@form-section-padding: 12px;