/* Default variables */
/* Borders */
/* responsive desktop-mobile for ads*/
/* responsive landscape tablet */
/* responsive portrait tablet */
/* responsive portrait phone */
.sssp-form {
  color: #404040;
}
.sssp-form ::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #404040;
}
.sssp-form :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #404040;
}
.sssp-form::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #404040;
}
.sssp-form label {
  width: 100%;
  font-size: 14px;
  line-height: 22px;
  color: #000000;
  display: block;
}
.sssp-form input {
  margin: 0;
}
.sssp-form input[type=text],
.sssp-form input[type=number] {
  background: #FFFFFF;
  border: 1px solid #C0C0C0;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 9px 12px;
  font-size: 14px;
  line-height: 22px;
  width: 100%;
}
.sssp-form input[type=text]:hover,
.sssp-form input[type=number]:hover {
  border: 1px solid #A0A0A0;
}
.sssp-form input[type=text]:focus,
.sssp-form input[type=number]:focus {
  border: 1px solid #80C0FF !important;
}
.sssp-form input[type=text]:disabled,
.sssp-form input[type=number]:disabled {
  color: #a7aaad;
  border-color: #dcdcde;
  background-color: #f6f7f7;
  box-shadow: none;
  text-shadow: 0 1px 0 #fff;
  cursor: default;
  transform: none;
}
.sssp-form input[type=text]:disabled::placeholder,
.sssp-form input[type=number]:disabled::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #a7aaad;
  opacity: 0.8;
  /* Firefox */
}
.sssp-form input[type=text]:disabled:-ms-input-placeholder,
.sssp-form input[type=number]:disabled:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #a7aaad;
  opacity: 0.8;
}
.sssp-form input[type=text]:disabled::-ms-input-placeholder,
.sssp-form input[type=number]:disabled::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #a7aaad;
  opacity: 0.8;
}
.sssp-form input[type=checkbox] {
  transform: scale(1.3);
  background: #FFFFFF;
  border: 1px solid #C0C0C0;
  border-radius: 6px;
  display: inline-block;
  margin: 0 0 5px 12px;
}
.sssp-form input[type=submit],
.sssp-form button {
  background-color: #CC0000;
  border: 1px solid #CC0000;
  box-shadow: 0px 8px 24px -8px rgba(204, 0, 0, 0.4);
  border-radius: 4px;
  color: white;
  padding: 11px 8px 13px 8px;
  text-align: center;
  line-height: 24px;
  font-size: 16px;
  width: 200px;
}
.sssp-form input[type=submit]:hover,
.sssp-form button:hover {
  background-color: #A00000;
  border: 1px solid #A00000;
  box-shadow: 0px 12px 24px -6px rgba(204, 0, 0, 0.6);
}
.sssp-form input[type=submit]:focus,
.sssp-form button:focus {
  box-shadow: 0px 1px 4px rgba(204, 0, 0, 0.4);
}
.sssp-form textarea {
  width: 100%;
  min-height: 300px;
}
.sssp-form fieldset {
  font-family: Arial;
  font-size: 14px;
  line-height: 22px;
}
.sssp-form fieldset input[type='radio'] {
  transform: scale(1.2);
  margin-right: 12px;
}
@media (max-width: 1140px) {
  .sssp-form fieldset input[type='radio'] {
    transform: scale(1.4);
    height: 1rem;
    width: 1rem;
  }
}
.sssp-form fieldset input[type='radio']:checked::before {
  content: "";
  border-radius: 50%;
  width: 0.5rem;
  height: 0.5rem;
  margin: 0.1875rem;
  background-color: #000000;
  line-height: 1.14285714;
}
.sssp-form fieldset input[type='radio']:focus {
  border: 1px solid #80C0FF;
  border-radius: 12px;
}
.sssp-form select {
  border: 1px solid #C0C0C0;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 9px 12px;
  font-size: 14px;
  line-height: 22px;
  width: 100%;
  margin: 0;
  max-width: 100%;
}
.sssp-form select:disabled {
  color: #a7aaad;
  border-color: #dcdcde;
  background-color: #f6f7f7;
  box-shadow: none;
  text-shadow: 0 1px 0 #fff;
  cursor: default;
  transform: none;
}
.sssp-form select option {
  font-size: 14px;
  line-height: 20px;
}
.sssp-form select:hover {
  border: 1px solid #A0A0A0;
}
.sssp-form select:focus {
  border: 1px solid #80C0FF;
}
.sssp-form-error {
  color: #CC0000;
  font-family: Arial;
  font-size: 14px;
  line-height: 22px;
  visibility: hidden;
  margin-top: 4px;
  margin-bottom: 16px;
}
@media (max-width: 1460px) {
  .sssp-form-error {
    margin-bottom: 6px;
  }
}
.sssp-form-checkbox-box {
  display: table-row;
  height: 30px;
  vertical-align: top;
}
.sssp-form-checkbox-box span {
  display: inline-block;
  margin-left: 14px;
  color: #404040;
}
.sssp-form-button-box {
  width: 100%;
  text-align: right;
  height: auto;
  margin-bottom: -35px;
}
@media (max-width: 767px) {
  .sssp-form-button-box {
    text-align: center;
  }
}
.sssp-form-button-box-2 {
  width: 100%;
  text-align: center;
  height: auto;
  margin-bottom: -35px;
}
.sssp-form #sssp-branding-css {
  min-height: 400px;
}
@media (max-width: 767px) {
  .sssp-form #sssp-branding-css {
    min-height: 600px;
  }
}
.sssp-form .CodeMirror {
  min-height: 400px;
}
@media (max-width: 767px) {
  .sssp-form .CodeMirror {
    min-height: 600px;
  }
}
.sssp-clear {
  clear: both;
}
.sssp-block {
  font-family: arial, helvetica, sans-serif;
  color: #404040;
}
.sssp-admin-red {
  color: #CC0000;
  width: auto;
  min-width: initial !important;
}
.sssp-admin-green {
  color: #067a06;
  width: auto;
  min-width: initial !important;
}
.sssp-admin-bold {
  font-weight: bold;
}
.sssp-post-table {
  max-width: 100%;
  padding-top: 10px;
}
@media (max-width: 1140px) {
  .sssp-post-table {
    padding-top: 10px;
  }
}
@media (max-width: 767px) {
  .sssp-post-table {
    padding-top: 10px;
  }
}
.sssp-post-table .sssp-settings-box {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  border-left: #CC0000 3px solid;
  padding: 40px;
  margin-bottom: 20px;
  background-color: #FBFBFB;
}
@media (max-width: 1140px) {
  .sssp-post-table .sssp-settings-box {
    padding: 25px;
  }
}
@media (max-width: 767px) {
  .sssp-post-table .sssp-settings-box {
    padding: 20px 15px;
    margin-bottom: 10px;
  }
}
@media (max-width: 400px) {
  .sssp-post-table .sssp-settings-box {
    padding: 15px 10px;
  }
}
.sssp-post-table .sssp-settings-box #tabs {
  max-width: 600px;
  width: 100%;
  box-shadow: 0 0 1.2rem 0 rgba(0, 0, 0, 0.13);
}
.sssp-post-table .sssp-settings-box #tabs .ui-tabs-nav {
  margin: 0;
  padding: 0;
  box-shadow: 0 0 1.2rem 0 rgba(0, 0, 0, 0.13);
}
.sssp-post-table .sssp-settings-box .ui-widget.ui-widget-content {
  border: none !important;
  padding: 0;
}
.sssp-post-table .sssp-settings-box .ui-widget.ui-widget-content {
  border: 1px solid #C0C0C0;
}
.sssp-post-table .sssp-settings-box .ui-tabs .ui-tabs-nav li {
  border: none;
  text-align: center;
  display: inline-block;
  width: 33.3333%;
  box-sizing: border-box;
  background-color: white;
  padding: 0;
  line-height: 24px;
  margin: 0;
}
@media (max-width: 600px) {
  .sssp-post-table .sssp-settings-box .ui-tabs .ui-tabs-nav li {
    max-width: initial;
    width: 100%;
  }
}
.sssp-post-table .sssp-settings-box .ui-tabs .ui-tabs-nav li a {
  border-top: 0.2rem solid white;
  display: block;
  float: none;
  margin: 0;
  padding: 20px 22px;
}
.sssp-post-table .sssp-settings-box .ui-tabs .ui-tabs-nav li a:focus {
  box-shadow: none;
  border: none;
}
.sssp-post-table .sssp-settings-box .ui-widget-header {
  border: none;
  background: none;
}
.sssp-post-table .sssp-settings-box .ui-widget-header .ui-corner-top {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.sssp-post-table .sssp-settings-box .ui-widget-header .ui-state-default {
  background: none;
}
.sssp-post-table .sssp-settings-box .ui-widget-header .ui-state-active {
  background-color: #F9F9F9 !important;
}
.sssp-post-table .sssp-settings-box .ui-widget-header .ui-state-active a {
  border-top: 0.2rem solid #272727 !important;
}
.sssp-post-table .sssp-settings-box .ui-widget-header .ui-state-active a:focus {
  box-shadow: none;
  border: none;
}
.sssp-post-table .sssp-settings-box .ui-widget-header .ui-state-active:focus {
  box-shadow: none;
  border: none;
}
.sssp-post-table-left {
  width: calc(100% - 450px);
  box-sizing: border-box;
  float: left;
  padding: 0 20px 0 0;
}
@media (max-width: 1700px) {
  .sssp-post-table-left {
    width: 100%;
    max-width: 100%;
    padding: 0;
  }
}
.sssp-post-table-right {
  width: 450px;
  box-sizing: border-box;
  float: right;
}
@media (max-width: 1700px) {
  .sssp-post-table-right {
    width: 100%;
    max-width: 100%;
    padding: 0;
  }
}
@media (max-width: 767px) {
  .sssp-post-table-right {
    padding: 0;
  }
}
@media (max-width: 400px) {
  .sssp-post-table-right {
    padding: 0;
  }
}
.sssp-post-table-sidebar {
  width: 100%;
  box-sizing: border-box;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  border-left: #CC0000 3px solid;
  padding: 15px;
  background-color: #FBFBFB;
}
.sssp-post-table h2 {
  font-size: 20px !important;
  padding: 0 !important;
  margin: 0 0 10px 0 !important;
  color: #404040;
  font-weight: 400;
}
.sssp-post-table h3,
.sssp-post-table h4 {
  margin: 0 0 5px 0;
  font-size: 1.2em;
  line-height: 1.4em;
  border-bottom: 1px solid #404040;
  font-weight: 400;
  font-family: Helvetica, Arial, serif;
  color: #404040;
}
.sssp-post-table .sssp-section-subtitle h3,
.sssp-post-table .sssp-section-subtitle h4 {
  margin: 20px 0 5px 0;
  font-size: 1.3em;
  line-height: 1.4em;
  font-weight: bold;
  font-family: Helvetica, Arial, serif;
  color: #404040;
  border-bottom: none;
}
.sssp-width-75 {
  width: 75%;
  display: inline-block;
  padding-right: 12px;
  box-sizing: border-box;
}
@media (max-width: 1460px) {
  .sssp-width-75 {
    width: 100%;
  }
}
.sssp-width-66 {
  width: 66.6666%;
  display: inline-block;
  padding-right: 12px;
  box-sizing: border-box;
}
@media (max-width: 1460px) {
  .sssp-width-66 {
    width: 100%;
  }
}
.sssp-width-50 {
  width: 50%;
  display: inline-block;
  padding-right: 12px;
  box-sizing: border-box;
  vertical-align: top;
}
@media (max-width: 1460px) {
  .sssp-width-50 {
    width: 100%;
  }
}
@media (max-width: 1460px) {
  .sssp-width-50.sssp-desktop {
    display: none;
  }
}
.sssp-width-50.sssp-mobile {
  display: none;
}
@media (max-width: 1460px) {
  .sssp-width-50.sssp-mobile {
    display: block;
  }
}
.sssp-width-33 {
  width: 33.3333%;
  display: inline-block;
  padding-right: 12px;
  box-sizing: border-box;
}
@media (max-width: 1460px) {
  .sssp-width-33 {
    width: 100%;
  }
}
.sssp-width-25 {
  width: 25%;
  display: inline-block;
  padding-right: 12px;
  box-sizing: border-box;
}
@media (max-width: 1460px) {
  .sssp-width-25 {
    width: 100%;
  }
}
.sssp-width-16 {
  width: 16.6666%;
  display: inline-block;
  padding-right: 12px;
  box-sizing: border-box;
}
@media (max-width: 1460px) {
  .sssp-width-16 {
    width: 100%;
  }
}
.sssp-help {
  margin-bottom: 15px;
}
.sssp-big {
  font-size: 1.1em;
}
.sssp-small {
  font-size: 0.9em;
}
.sssp-data-holder {
  display: none;
  height: 0;
}
#sssp-filter_by_zone_id {
  min-width: 190px;
  max-width: 200px;
}
.sssp-seznam-red {
  color: #CC0000;
}
.sssp-seznam-blue {
  color: #176ad0;
}
#sssp-preview-box .sssp-image-preview-box {
  width: 100%;
}
#sssp-preview-box .sssp-image-preview-box-image {
  width: 300px;
  padding: 20px 0;
  box-sizing: border-box;
  display: inline-block;
  text-align: center;
  vertical-align: top;
}
@media (max-width: 1700px) {
  #sssp-preview-box .sssp-image-preview-box-image {
    width: 150px;
  }
}
@media (max-width: 1460px) {
  #sssp-preview-box .sssp-image-preview-box-image {
    width: 100%;
  }
}
@media (max-width: 768px) {
  #sssp-preview-box .sssp-image-preview-box-image {
    padding: 10px;
  }
}
#sssp-preview-box .sssp-image-preview-box-image img {
  width: 100%;
  max-width: 300px;
}
#sssp-preview-box .sssp-image-preview-box-text {
  width: calc(100% - 300px);
  padding: 20px;
  box-sizing: border-box;
  display: inline-block;
  text-align: left;
}
@media (max-width: 1700px) {
  #sssp-preview-box .sssp-image-preview-box-text {
    width: calc(100% - 150px);
  }
}
@media (max-width: 1460px) {
  #sssp-preview-box .sssp-image-preview-box-text {
    width: 100%;
  }
}
@media (max-width: 768px) {
  #sssp-preview-box .sssp-image-preview-box-text {
    padding: 10px;
  }
}
#sssp-preview-box .sssp-image-preview-box-text p {
  margin: 0 0 10px 0;
}
#sssp-preview-box .sssp-image-preview-box-text img {
  width: 100%;
}
.sssp-sticky {
  position: fixed;
  top: 50px;
}
.post-type-seznam-ssp #publish {
  background-color: #CC0000;
  border: 1px solid #CC0000;
  box-shadow: 0 8px 24px -8px rgba(204, 0, 0, 0.4);
  border-radius: 4px;
  color: white;
  padding: 11px 8px 13px 8px;
  text-align: center;
  line-height: 20px;
  font-size: 14px;
  width: 130px;
}
.post-type-seznam-ssp #publish:hover {
  background-color: #A00000;
  border: 1px solid #A00000;
  box-shadow: 0 12px 24px -6px rgba(204, 0, 0, 0.6);
}
.post-type-seznam-ssp #publish:focus {
  box-shadow: 0 1px 4px rgba(204, 0, 0, 0.4);
}
#sssp-allowed-post-types {
  display: none;
}
.sssp-bullet-box {
  position: relative;
  padding-left: 12px;
  display: inline-block;
}
.sssp-bullet::before,
.sssp-bullet-blue::before,
.sssp-bullet-black::before,
.sssp-bullet-red::before {
  content: '';
  position: absolute;
  bottom: 5px;
  left: 0;
  width: 7px;
  height: 7px;
  background-color: #30bd00;
  border-radius: 50%;
}
.sssp-bullet-blue::before {
  background-color: #002aff;
}
.sssp-bullet-black::before {
  background-color: #2a2a2a;
}
.sssp-bullet-red::before {
  background-color: #CC0000;
}
.sssp-deprecated-shortcode {
  text-decoration: line-through;
  color: #A0A0A0;
}
.sssp-deprecated-shortcode {
  text-decoration: line-through;
  color: #A0A0A0;
}
.sssp-system-check-row span {
  display: inline-block;
  min-width: 250px;
  max-height: 100%;
}
.sssp-wp-body-example {
  width: 100%;
}
.sssp-textarea-preview {
  width: 100%;
  min-height: 110px !important;
}
@media (max-width: 1700px) {
  .sssp-textarea-preview {
    min-height: 160px;
  }
}
.sssp-textarea-show-sdop-box {
  min-height: 110px !important;
}
@media (max-width: 1700px) {
  .sssp-textarea-show-sdop-box {
    min-height: 160px;
  }
}
#manual-box-1 {
  display: none;
}
.sssp-prev-image-box {
  text-align: center;
  padding: 0;
}
.sssp-widget-description-box {
  margin-bottom: 0;
}
