/* Default variables */
/* Borders */
/* responsive desktop-mobile for ads*/
/* responsive landscape tablet */
/* responsive portrait tablet */
/* responsive portrait phone */
.sssp-form {
  color: #404040;
}
.sssp-form ::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #404040;
}
.sssp-form :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #404040;
}
.sssp-form::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #404040;
}
.sssp-form label {
  width: 100%;
  font-size: 14px;
  line-height: 22px;
  color: #000000;
  display: block;
}
.sssp-form input {
  margin: 0;
}
.sssp-form input[type=text],
.sssp-form input[type=number] {
  background: #FFFFFF;
  border: 1px solid #C0C0C0;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 9px 12px;
  font-size: 14px;
  line-height: 22px;
  width: 100%;
}
.sssp-form input[type=text]:hover,
.sssp-form input[type=number]:hover {
  border: 1px solid #A0A0A0;
}
.sssp-form input[type=text]:focus,
.sssp-form input[type=number]:focus {
  border: 1px solid #80C0FF !important;
}
.sssp-form input[type=text]:disabled,
.sssp-form input[type=number]:disabled {
  color: #a7aaad;
  border-color: #dcdcde;
  background-color: #f6f7f7;
  box-shadow: none;
  text-shadow: 0 1px 0 #fff;
  cursor: default;
  transform: none;
}
.sssp-form input[type=text]:disabled::placeholder,
.sssp-form input[type=number]:disabled::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #a7aaad;
  opacity: 0.8;
  /* Firefox */
}
.sssp-form input[type=text]:disabled:-ms-input-placeholder,
.sssp-form input[type=number]:disabled:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #a7aaad;
  opacity: 0.8;
}
.sssp-form input[type=text]:disabled::-ms-input-placeholder,
.sssp-form input[type=number]:disabled::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #a7aaad;
  opacity: 0.8;
}
.sssp-form input[type=checkbox] {
  transform: scale(1.3);
  background: #FFFFFF;
  border: 1px solid #C0C0C0;
  border-radius: 6px;
  display: inline-block;
  margin: 0 0 5px 12px;
}
.sssp-form input[type=submit],
.sssp-form button {
  background-color: #CC0000;
  border: 1px solid #CC0000;
  box-shadow: 0px 8px 24px -8px rgba(204, 0, 0, 0.4);
  border-radius: 4px;
  color: white;
  padding: 11px 8px 13px 8px;
  text-align: center;
  line-height: 24px;
  font-size: 16px;
  width: 200px;
}
.sssp-form input[type=submit]:hover,
.sssp-form button:hover {
  background-color: #A00000;
  border: 1px solid #A00000;
  box-shadow: 0px 12px 24px -6px rgba(204, 0, 0, 0.6);
}
.sssp-form input[type=submit]:focus,
.sssp-form button:focus {
  box-shadow: 0px 1px 4px rgba(204, 0, 0, 0.4);
}
.sssp-form textarea {
  width: 100%;
  min-height: 300px;
}
.sssp-form fieldset {
  font-family: Arial;
  font-size: 14px;
  line-height: 22px;
}
.sssp-form fieldset input[type='radio'] {
  transform: scale(1.2);
  margin-right: 12px;
}
@media (max-width: 1140px) {
  .sssp-form fieldset input[type='radio'] {
    transform: scale(1.4);
    height: 1rem;
    width: 1rem;
  }
}
.sssp-form fieldset input[type='radio']:checked::before {
  content: "";
  border-radius: 50%;
  width: 0.5rem;
  height: 0.5rem;
  margin: 0.1875rem;
  background-color: #000000;
  line-height: 1.14285714;
}
.sssp-form fieldset input[type='radio']:focus {
  border: 1px solid #80C0FF;
  border-radius: 12px;
}
.sssp-form select {
  border: 1px solid #C0C0C0;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 9px 12px;
  font-size: 14px;
  line-height: 22px;
  width: 100%;
  margin: 0;
  max-width: 100%;
}
.sssp-form select:disabled {
  color: #a7aaad;
  border-color: #dcdcde;
  background-color: #f6f7f7;
  box-shadow: none;
  text-shadow: 0 1px 0 #fff;
  cursor: default;
  transform: none;
}
.sssp-form select option {
  font-size: 14px;
  line-height: 20px;
}
.sssp-form select:hover {
  border: 1px solid #A0A0A0;
}
.sssp-form select:focus {
  border: 1px solid #80C0FF;
}
.sssp-form-error {
  color: #CC0000;
  font-family: Arial;
  font-size: 14px;
  line-height: 22px;
  visibility: hidden;
  margin-top: 4px;
  margin-bottom: 16px;
}
@media (max-width: 1460px) {
  .sssp-form-error {
    margin-bottom: 6px;
  }
}
.sssp-form-checkbox-box {
  display: table-row;
  height: 30px;
  vertical-align: top;
}
.sssp-form-checkbox-box span {
  display: inline-block;
  margin-left: 14px;
  color: #404040;
}
.sssp-form-button-box {
  width: 100%;
  text-align: right;
  height: auto;
  margin-bottom: -35px;
}
@media (max-width: 767px) {
  .sssp-form-button-box {
    text-align: center;
  }
}
.sssp-form-button-box-2 {
  width: 100%;
  text-align: center;
  height: auto;
  margin-bottom: -35px;
}
.sssp-form #sssp-branding-css {
  min-height: 400px;
}
@media (max-width: 767px) {
  .sssp-form #sssp-branding-css {
    min-height: 600px;
  }
}
.sssp-form .CodeMirror {
  min-height: 400px;
}
@media (max-width: 767px) {
  .sssp-form .CodeMirror {
    min-height: 600px;
  }
}
