/* Default variables */
/* Borders */
/* responsive desktop-mobile for ads*/
/* responsive landscape tablet */
/* responsive portrait tablet */
/* responsive portrait phone */
.sssp-clear {
  clear: both;
}
.sssp-seznam-ad {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  clear: both;
}
.sssp-seznam-ad-center {
  text-align: center !important;
  float: none;
}
.sssp-seznam-ad-center div.adFull {
  display: block;
  margin: auto;
}
.sssp-seznam-ad-center .sssp-dev-mode {
  margin: 10px auto 0;
}
.sssp-seznam-ad-left div.adFull {
  float: left !important;
  display: block;
}
.sssp-seznam-ad-right div.adFull {
  float: right !important;
  display: block;
}
.sssp-seznam-ad-none {
  display: block;
}
.sssp-seznam-ad-none div.adFull {
  display: block;
}
.sssp-deprecated-ads {
  width: 100%;
  max-width: 300px;
  padding: 40px;
  text-align: center;
  background-color: #CC0000;
  margin: 10px auto;
  color: white;
}
.sssp-deprecated-ads h5 {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 6px 0;
}
.sssp-dev-mode {
  width: 100%;
  max-width: 970px;
  text-align: center;
  padding: 5px 5px;
  background-color: #CC0000;
  color: white;
  box-sizing: border-box;
  display: block;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.1em;
  margin: 10px auto 0;
}
.sssp-dev-mode #sssp-reload-ads {
  cursor: pointer;
  font-weight: bold;
}
.sssp-dev-mode #sssp-edit-ads a {
  color: white;
  font-weight: bold;
}
.sssp-sticky {
  position: fixed;
  top: 50px;
}
